@import url('https://fonts.googleapis.com/css2?family=Piazzolla:opsz,wght@8..30,200;8..30,300;8..30,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Piazzolla', serif;
}
:root{
    --main-bg: #1e272e;
    --main-color: #0097e6;
    /* #323544 */
}
html{
    font-size: 62.5%;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.main_menu{
    background-color: var(--main-bg);
}
.navbar{
    color: #fff;
    background-color: var(--main-bg);
    /* padding: 2rem 0; */
}
.navbar li{
    margin-left: 20px;
}
.navbar a{
    color: #fff;
    font-size: 200%;
}
.navbar a:hover{
    color: var(--main-color);

}
.navbar-toggler{
    background-color: inherit;
    border: 1px solid gray;
    color: var(--main-color);
}
/* .navbar-toggler-icon{
    color: white;
    filter: invert(1);
} */
.fa-snowflake{
    transition: all linear;
    animation: rot 2s linear infinite;
    color: var(--main-color);
}

@keyframes rot {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.main_header_left{
    height: 65rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
.main_header_left p{
    font-size: 2rem;
}
.main_header_left h1{
    font-size: 4rem;
    margin: 1rem 0 4rem 0;
    text-transform: capitalize;
}
.main_header_left span{
    color: var(--main-color);
}
.main_header_left button{
    border: none;
    padding: 0.8rem 1.8rem;
    font-size: 2rem;
    border-radius: 2rem;
    text-transform: uppercase;
    box-shadow: 0 8px 6px -6px #000;
}
.main_header_left button:hover{
    color: var(--main-color);
    box-shadow: 0 8px 6px -6px var(--main-color);
    transition: 0.2s ease;
}
.main_header_right{
    height: 65rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
/* .main_header_right figure img{
    
} */

.weather{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 200%;
    height: 40rem;
}
.temp_form{
    /* width: 40vw; */
    width: fit-content;
    border-radius: 20px;
    background-color: var(--main-bg);
    text-align: center;
    padding: 5px 5px;
    margin-top: 20px;
}
.temp_form #cityName{
    font-size: 80%;
    margin-left: 15px;
    width: 30vw;
    background-color: inherit;
    border: none;
    color: #677175;
}
.temp_form #submitBtn{
    padding: 5px;
    font-size: 80%;
    width: 5vw;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 20px;
}
.temp_form #submitBtn:hover{
    background-color: #fff;
    color: black;
    transition: 0.2s ease;
}
.temp_form #cityName:focus{
    /* border: 5px solid red; */
    outline: none;
}
.tempInformation{
    margin-top: 20px;
    background-color: var(--main-bg);
    width: 35vw;
    height: 50vh;
    color: white;
    padding: 25px;
    border-radius: 20px;
    
    text-align: center;
}



footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 5rem; */
    padding: 10px;
    background-color: var(--main-bg);
    color: #fff;
    margin-top: auto;
    /* line-height: 0; */
    font-size: 150%;
}
footer p{
    margin: 0;
    /* line-height: 5rem; */
    /* text-align: center; */
}
.errorImg{
    width: 60rem;
}
.error{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}

@media(max-width:780px){
    .main_header_left{
        height: auto;
        margin: 5rem 0;
    }
    .main_header_right{
        height: auto;
        margin-top: 3rem;
    }
}